<div class="leftwrap">
	<div class="navtitle">发布</div>
	<ul class="subnavlist">
		<li class="navitem" style="display:none;"><a target="_blank" href="{:U('Publish/homepage')}">发布首页</a></li>
		<li class="navitem" style="display:none;"><a target="contentarea" href="{:U('Publish/publishlist?type=1')}">发布囧图列表</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Publish/publishlist?type=2')}">发布笑话列表</a></li>
		<li class="navitem" style="display:none;"><a target="contentarea" href="{:U('Publish/publishlist?type=3')}">发布课堂列表</a></li>
		<li class="navitem" style="display:none;"><a target="contentarea" href="{:U('Publish/publishlist?type=5')}">发布视频列表</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Publish/publishlist?type=6')}">发布奇葩说列表</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('Publish/publishlist?type=7')}">发布周刊列表</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('Publish/clean')}">新版发布和百度推送</a></li>
	</ul>
	<div class="navtitle">数据项分类</div>
	<ul class="subnavlist">
		<li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=1')}">首页</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=2')}">囧图</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=3')}">冷笑话</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=4')}">原创视频</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=5')}">搞笑视频</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=6')}">周刊</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=7')}">短篇</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=97')}">用户中心</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=98')}">API</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('DataItem/datalist?cid=99')}">广告</a></li>
	</ul>
	<div class="navtitle">文档</div>
	<ul class="subnavlist">
		<li class="navitem"><a target="contentarea" href="{:U('FunnyImg/arclist')}">囧图</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('DryHumor/arclist')}">冷笑话</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Course/arclist')}">原创视频</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('WonderfulTalk/arclist')}">哈哈笑报</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('Video/arclist')}">搞笑视频</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('Note/arclist')}">短篇</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('Topic/arclist')}">话题</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('Zhoukan/arclist')}">周刊</a></li>
	</ul>
	<div class="navtitle">评论管理</div>
	<ul class="subnavlist">
		<li class="navitem"><a target="contentarea" href="{:U('Comment/commentlist')}">列表</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Comment/daystat')}">评论统计</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Comment/adminstat')}">审核统计</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Comment/editwordfilter')}">过滤词</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('Comment/commentlist',array(relate_type=>99))}">问题反馈</a></li>
	</ul>
        <div class="navtitle">其他管理</div>
	<ul class="subnavlist">
        <li class="navitem"><a target="contentarea" href="{:U('Message/messagelist')}">消息管理</a></li>
        <li class="navitem"><a target="contentarea" href="{:U('DryHumor/submitlist')}">投稿段子</a></li>
        <li class="navitem"><a target="contentarea" href="{:U('Video/submitlist')}">投稿视频</a></li>
        <li class="navitem"><a target="contentarea" href="{:U('Message/statisticlist')}">投稿统计</a></li>
        <li class="navitem"><a target="contentarea" href="{:U('Reason/reasonlist')}">原因管理</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('User/arclist')}">用户管理</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Author/authorlist')}">作者管理</a></li>
                <li class="navitem"><a target="contentarea" href="{:U('Mix/searchRank')}">搜索排行</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Image/add')}">图片上传</a></li>
        <li class="navitem"><a target="contentarea" href="{:U('Advise/arclist')}">问题反馈</a></li>
	</ul>
	<div class="navtitle">系统管理</div>
	<ul class="subnavlist">
		<li class="navitem"><a target="contentarea" href="{:U('Admin/adminlist')}">管理员列表</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Admin/newadmin')}">添加管理员</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Admin/iplist')}">Ip管理</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Admin/privlist')}">权限管理</a></li>
		<li class="navitem"><a target="contentarea" href="{:U('Admin/editpassword')}">修改密码</a></li>
		<li class="navitem"><a target="_parent" href="{:U('Index/logout')}">退出</a></li>
	</ul>
</div>
