<div class="wrap">
	<div class="formwrap">
		<form name="adminform" class="formset" method="post" action="{:U('Admin/savePassword')}">
			<div class="item">
				<label class="itemtip">密码：</label>
				<div class="itemcontent">
					<input type="password" name="password" class="inputtext" /> <span class="smalltip"></span>
				</div>
			</div>
			<div class="item">
				<label class="itemtip">重复密码：</label>
				<div class="itemcontent">
					<input type="password" name="repassword" class="inputtext" />
				</div>
			</div>
			<div class="item buttonline">
				<div class="itemcontent">
					<input type="submit" name="Submit" value="提交" />
				</div>
			</div>
		</form>
	</div>
</div>